// component__container 类可实现组件通用样式，包含标题、副标题、注释
.component__container {
  transform-origin: left top;
  display: flex;
  flex-direction: column;

  .header {
    flex: 0 0 40px;
    line-height: 40px;
    color: rgb(83, 226, 255);
    font-size: 18px;
    text-align: left;
    font-weight: normal;

    .iconStyle {
      width: 9px;
      height: 15px;
      display: inline-block;
      vertical-align: baseline;
      fill: currentColor;
    }

    .title {
      margin-left: 6px;
      display: inline-block;
      line-height: 1;
    }
  }

  .chart__container {
    flex: 1;
    width: 100%;
    overflow: hidden;
    background-image: url('../assets/bg-border.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    display: flex;
    flex-direction: column;

    .sub-title__container {
      flex: 0 0 30px;
      line-height: 30px;
      padding-left: 0px;
      position: relative;

      .icon {
        display: inline-block;
        width: 4px;
        height: 12px;
        background: #04c1ff;
        margin-right: 8px;
      }
    }

    .chart-dom {
      flex: 1;
      width: 100%;
      overflow: hidden;
    }
  }

  .note {
    flex: 0 0 40px;
    line-height: 40px;
    padding: 0 10px;
  }
}

// config__container 类可实现组件配置通用样式，包含输入框、折叠框、边距等
.config__container {
  .el-collapse-item__content {
    color: #b0cdeb;
  }

  .el-input__inner {
    background: transparent;
    color: #b0cdeb;
  }

  .el-row {
    margin-bottom: 10px;

    .el-input-number.is-controls-right .el-input__inner {
      padding-right: 40px;
    }

    >div {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}