/* 大屏配置的自定义全局样式 */
.vue-grid-item {
    // background-color: #ccc;
    position: relative;

    // background-image: url('../views/EditChartView/assets/bg-border.png');
    // background-size: 100% 100%;
    & > .vue-resizable-handle {
        z-index: 100;
    }

    .mask_container {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: transparent;
        z-index: 99;
        border: 1px solid transparent;
        transition: all 0.3s ease;

        &.component-selected {
            border-color: rgb(92, 173, 255);
        }

        &.component-moved {
            border-color: rgb(92, 173, 255);
        }

        &:hover {
            .delete-icon {
                display: block;
                opacity: 1;
            }
        }

        .delete-icon {
            position: absolute;
            z-index: 2;
            width: 34px;
            height: 24px;
            line-height: 18px;
            background-color: transparent;
            top: -24px;
            right: 0;
            cursor: pointer;
            display: none;
            opacity: 0;
            text-align: center;
            transition: all 0.3s ease;

            .delete-img {
                width: 16px;
            }
        }
    }
}

.mian-board__container div.vue-grid-layout {
    height: 100% !important;
}

.el-popover.bg-popover {
    padding: 0;
    border: none;
}

.api-url-param__input.el-input {
    .el-input__inner {
        color: #9AB4CE;
        background: transparent;
    }
}

.chart-custom-select.el-select {
    .el-input__inner {
        background-color: #002140;
        color: #9AB4CE;
    }

    .el-select-dropdown {
        border-color: #9AB4CE;

        .popper__arrow {
            display: none;
        }
    }

    .el-select-dropdown__list {
        background-color: #002140;

        .el-select-dropdown__item {
            color: #9AB4CE;
        }
    }
}


.refresh-time-select.el-select {
    .el-input__inner {
        background-color: #002140;
        color: #9AB4CE;
    }

    .el-select-dropdown {
        border-color: #9AB4CE;

        .popper__arrow {
            display: none;
        }
    }

    .el-select-dropdown__list {
        background-color: #002140;

        .el-select-dropdown__item {
            color: #9AB4CE;
        }
    }
}

.position-size-input.el-input {
    &.el-input--suffix .el-input__inner {
        padding: 0 15px 0 10px;
    }

    .el-input__inner {
        background-color: #002140;
        color: #9AB4CE;
    }

    .el-input__suffix-inner {
        display: block;
        /* height: 100%; */
        /* line-height: 100%; */
        font-size: 12px;
        line-height: 1;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -6px;
        color: #9AB4CE;
    }
}
