.TestVueGridLayout__container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header__container {
    height: 44px;
    background: linear-gradient(180deg, #004574 0%, #002140 100%);
    border: 1px solid #295278;
    display: flex;
    align-items: center;

    .back_icon {
        height: 100%;
        width: 80px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            transform: scaleY(2);
            display: block;
            font-size: 18px;
            line-height: 1;
            color: #61A7E9;
            margin-top: -4px;
        }
    }

    .label {
        font-size: 12px;
        font-weight: 400;
        color: #61A7E9;

        &.ml40 {
            margin-left: 40px;
        }
    }

    input {
        outline: none;
        border: 1px solid transparent;
        background-color: transparent;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 2;
        padding-left: 10px;
        border-radius: 4px;

        &:focus, &:active {
            border-color: #fff;
        }
    }
}

.content {
    display: flex;
    flex: 1;
    overflow: hidden;

    /* > div {
       
    } */
    .main {
        flex: 1;
        overflow-y: auto;
        padding: 20px;
        background: #031B32;

        .mian-board__container {
            // height: 100%;
        }
    }

    .right {
        flex: 0 0 247px;
        background: #002140;
        border: 1px solid #295278;
        border-top: none;

        /deep/ .custom-tabs {
            >.el-tabs__header {
                border-bottom: 1px solid #295278;
                margin: 0;
            }

            .el-tabs__nav {
                width: 100%;
                border: none;
            }

            .el-tabs__item {
                width: 50%;
                padding: 0;
                text-align: center;
                border: none;
                color: #306B94;

                &.is-active {
                    color: #4EB3F9;
                }

                &:first-child::after {
                    display: block;
                    content: ' ';
                    width: 1px;
                    height: 14px;
                    background: #133759;
                    position: absolute;
                    right: 0;
                    top: 13px;
                }
            }
        }

        /deep/ .custom-collapse {
            border: none;

            .el-collapse-item__header {
                color: #fff;
                background-color: #133759;
                border-bottom: 1px solid #295278;
                padding: 0 10px;
                height: 36px;
                font-size: 13px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #FFFFFF;
                line-height: 13px;
            }

            .el-collapse-item__wrap {
                background: transparent;
                padding: 10px;

                .el-collapse-item__content {
                    padding: 0;
                }
            }
        }
    }
}

.bg-icon {
    display: inline-block;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;

    &.red {
        background-color: red;
    }

    &.blue {
        background-color: blue;
    }

    &.lightgreen {
        background-color: lightgreen;
    }

    &.redToGreen {
        background-image: linear-gradient(to right, red, green);
    }
}

.xywh-config__container {
    color: #9AB4CE;
    display: flex;

    & > div {
        flex: 1;
        display: flex;
        align-items: center;
    }
}
